:root {
    --gray-1: oklch(98% 0.001 235);
    --gray-2: oklch(97% 0.002 235);
    --gray-3: oklch(93% 0.004 235);
    --gray-4: oklch(84% 0.005 235);
    --gray-5: oklch(80% 0.006 235);
    --gray-6: oklch(71% 0.008 235);
    --gray-7: oklch(66% 0.008 235);
    --gray-8: oklch(58% 0.008 235);
    --gray-9: oklch(53% 0.008 235);
    --gray-10: oklch(49% 0.008 235);
    --gray-11: oklch(42% 0.007 235);
    --gray-12: oklch(35% 0.006 235);
    --gray-13: oklch(27% 0.005 235);
    --gray-14: oklch(20% 0.004 235);
    --gray-15: oklch(16% 0.003 235);
    --gray-16: oklch(10% 0.002 235);
    --gray-accent: oklch(71% 0.02 235);
  
    --azure-1: oklch(98% 0.006 235);
    --azure-2: oklch(97% 0.012 235);
    --azure-3: oklch(93% 0.02 235);
    --azure-4: oklch(84% 0.024 235);
    --azure-5: oklch(80% 0.032 235);
    --azure-6: oklch(71% 0.038 235);
    --azure-7: oklch(66% 0.04 235);
    --azure-8: oklch(58% 0.042 235);
    --azure-9: oklch(53% 0.04 235);
    --azure-10: oklch(49% 0.038 235);
    --azure-11: oklch(42% 0.034 235);
    --azure-12: oklch(35% 0.03 235);
    --azure-13: oklch(27% 0.024 235);
    --azure-14: oklch(20% 0.018 235);
    --azure-15: oklch(16% 0.014 235);
    --azure-16: oklch(10% 0.01 235);
    --azure-accent: oklch(71% 0.1 235);
  
    --cyan-1: oklch(98% 0.006 205);
    --cyan-2: oklch(97% 0.012 205);
    --cyan-3: oklch(93% 0.02 205);
    --cyan-4: oklch(84% 0.024 205);
    --cyan-5: oklch(80% 0.032 205);
    --cyan-6: oklch(71% 0.038 205);
    --cyan-7: oklch(66% 0.04 205);
    --cyan-8: oklch(58% 0.042 205);
    --cyan-9: oklch(53% 0.04 205);
    --cyan-10: oklch(49% 0.038 205);
    --cyan-11: oklch(42% 0.034 205);
    --cyan-12: oklch(35% 0.03 205);
    --cyan-13: oklch(27% 0.024 205);
    --cyan-14: oklch(20% 0.018 205);
    --cyan-15: oklch(16% 0.014 205);
    --cyan-16: oklch(10% 0.01 205);
    --cyan-accent: oklch(71% 0.1 205);
  
    --seafoam-1: oklch(98% 0.006 175);
    --seafoam-2: oklch(97% 0.012 175);
    --seafoam-3: oklch(93% 0.02 175);
    --seafoam-4: oklch(84% 0.024 175);
    --seafoam-5: oklch(80% 0.032 175);
    --seafoam-6: oklch(71% 0.038 175);
    --seafoam-7: oklch(66% 0.04 175);
    --seafoam-8: oklch(58% 0.042 175);
    --seafoam-9: oklch(53% 0.04 175);
    --seafoam-10: oklch(49% 0.038 175);
    --seafoam-11: oklch(42% 0.034 175);
    --seafoam-12: oklch(35% 0.03 175);
    --seafoam-13: oklch(27% 0.024 175);
    --seafoam-14: oklch(20% 0.018 175);
    --seafoam-15: oklch(16% 0.014 175);
    --seafoam-16: oklch(10% 0.01 175);
    --seafoam-accent: oklch(71% 0.1 175);
  
    --red-1: oklch(98% 0.006 25);
    --red-2: oklch(97% 0.012 25);
    --red-3: oklch(93% 0.02 25);
    --red-4: oklch(84% 0.024 25);
    --red-5: oklch(80% 0.032 25);
    --red-6: oklch(71% 0.038 25);
    --red-7: oklch(66% 0.04 25);
    --red-8: oklch(58% 0.042 25);
    --red-9: oklch(53% 0.04 25);
    --red-10: oklch(49% 0.038 25);
    --red-11: oklch(42% 0.034 25);
    --red-12: oklch(35% 0.03 25);
    --red-13: oklch(27% 0.024 25);
    --red-14: oklch(20% 0.018 25);
    --red-15: oklch(16% 0.014 25);
    --red-16: oklch(10% 0.01 25);
    --red-accent: oklch(71% 0.1 25);
  }